.advantages {
  padding-top: 40px;
  background: url("../../img/grey-background-mobile.svg") no-repeat center bottom;
  background-size: 100% 894px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    background: url("../../img/grey-background-tablet.svg") no-repeat center bottom -188px;
    background-size: 1200px 695px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    padding-bottom: 59px;
    background-size: 1200px 715px;
    background-position: center bottom -82px;
  }
}

.advantages__slogans-container {
  margin-bottom: 115px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    color: #283645;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages__slogan:last-of-type {
    @include padding-lr (80px, 80px);
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 59px;
    align-items: start;
  }

  .advantages__slogan:last-of-type {
    @include padding-lr (190px, 190px);
  }
}

.advantages__list {
  @include list-style-clear;

  @media (min-width: $tablet-width) {
    grid-column: -1 / -2;
    align-self: self-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
    align-self: self-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

.advantages__item {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    @include padding-lr (22px, 22px);
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  color: $color-black;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.advantages__title--friends {
  @media (max-width: $tablet-only) {
    br {
      display: none;
    }
  }
}

.advantages__description {
  margin: 0;
  text-align: center;
  font-weight: 400;
  line-height: 24px;

  @include padding-lr (15px, 15px);

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 0;

    @include padding-lr (0, 0);
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.advantages__image-container {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

.advantages__image-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 23px;

    &::before {
      position: absolute;
      bottom: -11px;
      left: 0;
      right: 0;
      width: 300px;
      height: 17px;
      border-radius: 300px;
      opacity: 0.3;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49%, rgba(0, 0, 0, 0) 93.23%);
      filter: blur(2px);
      content: "";
    }
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: -43px;

  @media (min-width: $tablet-width) {
    @include sizes (268px, 547px);
    margin-top: 0;
    margin-bottom: -64px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    @include sizes (186px, 382px);
    margin: auto;
    margin-bottom: -81px;
  }
}

.advantages__image-mood--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__image-world--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
