.catalog {
  padding-top: 54px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.catalog__title {
  @include padding-lr (20px, 20px);
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    @include padding-lr (70px, 70px);
    font-size: 18px;
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    @include padding-lr (200px, 200px);
    margin-bottom: 97px;
  }
}

.catalog__list {
  @include list-style-clear;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 50px;
  }
}

.catalog__picture {
  display: block;
  width: 100%;
  height: auto;
}

.catalog__picture--panorama {
  max-width: 1200px;
  margin: auto;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    background-color: $color-pink;
    content: "ПАНОРАМА ДНЯ";
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    height: 36px;
    content: "";
    color: $color-white;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    z-index: 1;
  }
}

.catalog__description-container {
  background-color: $color-grey;
  padding: 26px 10px 25px 17px;
}

.catalog__author {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 24px;
}

.catalog__time {
  margin-left: 3px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__text {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.catalog__button-like {
  @include button-style-clear;
  @include sizes (20px, 20px);
  margin-right: 5px;
  border: none;
  background: url("../../img/heart.svg") no-repeat center center;
  background-size: 13px 12px;
  transform: translateY(-5px);
}

.catalog__likes {
  color: $color-pink;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__inner-wrapper {
  @include padding-lr (20px, 20px);
  max-width: 940px;
  margin: auto;
}

.catalog__wrapper {
  @include padding-lr (20px, 20px);
  max-width: 940px;
  margin: auto;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
