.catalog {
  padding-top: 54px;
  margin-bottom: 49px;
}

.catalog__title {
  @include padding-lr (20px, 20px);
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.catalog__list {
  @include list-style-clear;
}

.catalog__item {
  margin-bottom: 20px;
}

.catalog__picture {
  display: block;
  margin: auto;
}

.catalog__description-container {
  background-color: #f2f2f2;
  padding: 26px 10px 25px 17px;
}

.catalog__author {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 24px;
}

.catalog__time {
  margin-left: 3px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__text {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.catalog__button-like {
  @include button-style-clear;
  @include sizes (20px, 20px);
  margin-right: 5px;
  border: none;
  background: url("../../img/heart.svg") no-repeat center center;
  background-size: 13px 12px;
  transform: translateY(-5px);
}

.catalog__likes {
  color: $color-pink;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
