.contacts {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.contacts__title {
  margin: auto;
  margin-bottom: 36px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    color: #283645;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 32px;
    width: 462px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: normal;
    margin-bottom: 41px;
  }
}

.contacts__list {
  @include list-style-clear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__item {
  margin-bottom: 19px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: auto;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.contacts__item--email {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.contacts__link {
  display: block;
  color: #d22856;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    line-height: 32px;
  }

  &[href]:hover {
    color: $color-major;
  }

  &[href]:active {
    color: lighten($color: $color-major, $amount: 30%);
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__map-container {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;

  &::before {
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    width: 100%;
    height: 123px;
    background: url("../../img/triangle-white-footer.svg") no-repeat center top;
    background-size: 100% 123px;
    content: "";
    z-index: 1;

    @media (min-width: $tablet-width) {
      background: url("../../img/triangle-white-footer-tablet.svg") no-repeat center top;
    }

    @media (min-width: $desktop-width) {
      background: url("../../img/triangle-white-footer-desktop.svg") no-repeat center top;
      top: 0;
    }
  }
}

.contacts__map {
  border: 0;
  min-width: 100%;
  min-height: auto;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}
