.contacts {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.contacts__title {
  margin: auto;
  margin-bottom: 36px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    color: #283645;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 32px;
    width: 462px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: normal;
    margin-bottom: 61px;
  }
}

.contacts__list {
  @include list-style-clear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__item {
  margin-bottom: 19px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: auto;
    margin-bottom: 46px;
    // margin-right: 40px;
    // margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.contacts__item--email {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;
}

.contacts__link {
  display: block;
  color: #d22856;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-decoration: none;

  &[href]:hover {
    color: $color-major;
  }

  &[href]:active {
    color: lighten($color: $color-major, $amount: 30%);
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__map-container {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;

  &::before {
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    content: url("../../img/triangle-white-footer.svg");
    z-index: 1;

    @media (min-width: $tablet-width) {
      content: url("../../img/triangle-white-footer-tablet.svg");
      top: -56px;
    }
  }
}

.contacts__map {
  border: 0;
  min-width: 100%;
  min-height: auto;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}
