.extra-info {
  @media (max-width: $mobile-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-grey;
  }
}

.extra-info__wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
  max-width: 960px;

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 120px;
  }
}

.extra-info__wrapper::before {
  position: absolute;
  bottom: 0;
  left: 20px;
  content: url("../../img/timer-tablet.svg");

  @media (min-width: $desktop-width) {
    top: 17px;
    left: 131px;
    content: url("../../img/timer-desktop.svg");
  }
}

.extra-info__container {
  margin-left: 310px;

  @media (min-width: $desktop-width) {
    margin-left: 500px;
  }
}

.extra-info__title {
  margin: 0;
  margin-bottom: 25px;
  color: $color-black;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align-last: left;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-bottom: 37px;
  }
}

.extra-info__text {
  margin: 0;
  margin-bottom: 25px;
  color: $color-major;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align-last: left;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 47px;
  }
}

.extra-info__link {
  color: $color-pink;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;

  &:hover {
    color: $color-major;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
