.form__container {
  display: grid;
  max-width: 936px;
  margin: auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
  }
}

.form__fieldset {
  @include fieldset-style-clear;
  border: none;
}

.form__personal-info {
  @include padding-lr (20px, 20px);
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 1;
  }
}

.form__personal-info__container {
  display: flex;
  flex-wrap: wrap;
}

.form__label {
  color: $color-pink;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-left: 0;
    align-self: center;
  }
}

.form__label--contacts {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.form__input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 55px;
  }
}

.form__input-group--contacts {
  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 35px;
  }
}

.form__input {
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  flex-grow: 1;

  @include padding-tb (20px, 20px);
  padding-left: 20px;

  &::placeholder {
    color: $color-major;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__input--contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.form__achievements {
  background-color: $color-grey;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    background-color: $color-white;
    padding-top: 0;
    border-radius: 1px;
    border: 2px solid $color-dark-grey;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 51px;
  }
}

.form__legend {
  @include padding-lr (40px, 40px);
  color: $color-pink;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 44px;
  transform: translateY(47px);

  @media (min-width: $tablet-width) {
    @include padding-lr (25px, 25px);
    margin-bottom: 35px;
    transform: none;
  }
}

.form__legend--contacts {
  @media (max-width: $mobile-only) {
    display: none;
  }
}

.form__legend--emotions {
  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.form__list {
  @include list-style-clear;
}

.form__item {
  position: relative;
  margin-bottom: 47px;
}

.form__item:last-of-type {
  margin-bottom: 44px;
}

.form__checkbox {
  @include sizes (35px, 35px);
  position: absolute;
  left: 22px;
  top: -3px;
  border-radius: 1px;
  border: 2px solid $color-dark-grey;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    left: 60px;
  }
}

.form__label--checkbox {
  padding-left: 80px;
  color: $color-major;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 120px;
  }
}

.form__contacts {
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    @include padding-lr (40px, 40px);
    grid-row: 3 / 4;
    grid-column: span 2;
    border-radius: 1px;
    border: 2px solid $color-dark-grey;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 51px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    margin-left: 0;
    margin-right: 0;
  }
}

.form__app {
  background-color: #f2f2f2;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: span 2;
    background-color: $color-white;
    padding-top: 0;
    border-radius: 1px;
    border: 2px solid #e5e5e5;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 0;
    margin-right: 0;
    transform: translateY(-10px);
  }
}

.form__item-radio {
  margin-bottom: 38px;
}

.form__item-radio:last-of-type {
  margin-bottom: 42px;
}

.form__label--radio {
  color: $color-major;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-left: 120px;
  }
}

.form__radio {
  @include sizes (37px, 37px);
  position: absolute;
  left: 22px;
  top: -3px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    left: 60px;
  }
}

.form__emotions {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    @include padding-lr (40px, 40px);
    padding-top: 0;
    padding-bottom: 53px;
    border-radius: 1px;
    border: 2px solid $color-dark-grey;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 70px;
    grid-column: span 2;
  }
}

.form__input-textarea {
  transform: translateY(22px);
  min-height: 197px;

  &::placeholder {
    color: $color-major;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
