.form__fieldset {
  @include fieldset-style-clear;
  border: none;
}

.form__personal-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form__label {
  color: $color-pink;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 5px;
}

.form__input {
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  width: 276px;

  @include padding-tb (20px, 20px);
  padding-left: 20px;
  margin-bottom: 29px;

  &::placeholder {
    color: $color-major;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__achievements {
  background-color: #f2f2f2;
  padding-top: 42px;
}

.form__legend {
  @include padding-lr (40px, 40px);
  color: $color-pink;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 44px;
  transform: translateY(47px);
}

.form__list {
  @include list-style-clear;
}

.form__item {
  position: relative;
  margin-bottom: 47px;
}

.form__item:last-of-type {
  margin-bottom: 44px;
}

.form__checkbox {
  @include sizes (35px, 35px);
  position: absolute;
  left: 22px;
  top: -3px;
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  background-color: $color-white;
}

.form__label--checkbox {
  padding-left: 80px;
  color: $color-major;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__contacts {
  padding-top: 42px;
}

.form__app {
  background-color: #f2f2f2;
  padding-top: 42px;
}

.form__item-radio {
  margin-bottom: 38px;
}

.form__item-radio:last-of-type {
  margin-bottom: 42px;
}

.form__label--radio {
  color: $color-major;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  padding-left: 70px;
}

.form__radio {
  @include sizes (37px, 37px);
  position: absolute;
  left: 22px;
  top: -3px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: $color-white;
}

.form__emotions {
  padding-top: 42px;
  margin-bottom: 22px;
}

.form__input-textarea {
  min-height: 197px;

  &::placeholder {
    color: $color-major;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__button {
  margin-bottom: 46px;
}
