.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  fill: $color-white;
  transform: translateY(-6px);
}

.logo__pink {
  transform: translate(-70px, -2px);  //чтобы в фокусе прорисовывался outline со всех сторон

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.logo__glasses--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__glasses--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__sparkles {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__link--glasses {
  margin-right: 15px;
}
