.modal {
  display: none;
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: 44px;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  color: $color-major;
  border-radius: 1px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 460px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal__success {
  display: none;
}

.modal__failure {
  display: none;
}

.modal--opened {
  display: block;
}

.modal__wrapper {
  @include padding-lr(20px, 20px);
}

.modal__title {
  margin: 0;
  margin-bottom: 37px;
  color: $color-black;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    @include padding-lr(85px, 85px);
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__success .modal__text {
  @include padding-lr(10px, 10px);
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    @include padding-lr(90px, 90px);

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    @include padding-lr(205px, 205px);
  }
}

.modal__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    @include padding-lr(90px, 90px);
  }

  @media (min-width: $desktop-width) {
    @include padding-lr(225px, 225px);
  }
}

.modal__button-container {
  @include padding-tb (51px, 51px);
}

.modal__failure .modal__button-container {
  @media (min-width: $desktop-width) {
    margin-top: 65px;
    background-color: $color-grey;
  }
}

.modal__success .modal__button-container {
  background-color: $color-grey;
}

.modal__button {
  width: 276px;
  display: block;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 295px;
  }
}

.modal__button--success {
  @media (min-width: $desktop-width) {
    max-width: 456px;  //переопределила максимальную ширину .button, чтобы эта кнопка могла быть шире
    width: 456px;
  }
}
