.page-footer {
  @include padding-tb (40px, 40px);

  @media (min-width: $tablet-width) {
    @include padding-tb (32px, 32px);
  }

  @media (min-width: $desktop-width) {
    @include padding-lr (110px, 110px);
    padding-top: 63px;
  }
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-top: 1px;  //чтобы у ссылки в состоянии focus полностью прорисовывался outline
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 0;
    align-self: flex-start;
  }
}

.page-footer__logo-link:hover .page-footer__logo--pink {
  fill: $color-pink;
}

.page-footer__logo-link:active {
  opacity: 0.3;
}

.page-footer__logo--pink {
  fill: $color-major;
}

.page-footer__logo--glasses {
  fill: $color-pink;
}

.page-footer__logo--glasses.logo__glasses--tablet {
  @media (max-width: $tablet-only) {
    display: block;
  }
}

.page-footer__social {
  margin-bottom: 28px;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.page-footer__copyright {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}
