.post-yours__title {
  @include padding-lr (35px, 35px);
  margin: 0;
  margin-bottom: 41px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.post-yours__form {
  @include padding-tb (20px, 31px);
  background-color: #f2f2f2;
  display: grid;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    @include padding-tb (57px, 53px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(2, min-content);
    row-gap: 24px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    @include padding-tb (57px, 57px);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    margin-bottom: 35px;
  }
}

.post-yours__wrapper {
  @include padding-lr (20px, 20px);
  max-width: 940px;
  margin: auto;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    @include padding-lr (80px, 60px);
  }
}

.post-yours__picture-container {
  @media (min-width: $tablet-width) {
    grid-row: 1 / span 4;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-right: 56px;
  }
}

.post-yours__picture {
  display: block;
  object-fit: cover;
  margin: auto;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    @include sizes (300px, 400px);
    margin-bottom: 0;
  }
}

.post-yours__instruments {
  @include fieldset-style-clear;

  @media (min-width: $tablet-width) {
    grid-row: 1 / span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / span 2;
  }
}

.post-yours__button {
  @include button-style-clear;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 3px solid $color-pink;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  padding: 16px 50px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 90%;
    margin: auto;
    margin-bottom: 0;
  }

  &--submit {
    color: $color-pink;

    &:hover {
      background-color: $color-pink;
      color: $color-white;
    }

    &:active {
      color: rgba($color: $color-white, $alpha: 0.3);
    }

    @media (min-width: $desktop-width) {
      grid-row: -1 / -2;
    }
  }

  &--cancel {
    color: rgba($color: $color-major, $alpha: 0.1);
    border-color: rgba($color: $color-major, $alpha: 0.1);

    &:hover {
      border-color: rgba($color: $color-major, $alpha: 0.3);
      color: rgba($color: $color-major, $alpha: 0.3);
    }

    &:active {
      border: none;
      background-color: rgba($color: $color-major, $alpha: 0.3);
      color: rgba($color: $color-white, $alpha: 0.3);
    }

    @media (min-width: $desktop-width) {
      grid-row: -1 / -2;
      grid-column: -1 / -2;
    }
  }
}
