.post-yours__title {
  @include padding-lr (35px, 35px);
  margin: 0;
  margin-bottom: 52px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.post-yours__form {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 31px;
}

.post-yours__picture {
  display: block;
  object-fit: cover;
  margin-bottom: 42px;
}

.post-yours__instruments {
  @include fieldset-style-clear;
}

.instruments__list {
  @include list-style-clear;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(40, 54, 69, 0.1);
    content: "";
  }
}

.instruments__item {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 10px;
}

.instruments__button {
  @include button-style-clear;
  border: none;
}

.instruments__range-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.instruments__button--current + .instruments__range-container {
  display: block;
}

.instruments__range-scale {
  @include sizes (240px, 2px);
  background-color: $color-major;
  position: absolute;
  bottom: 24px;
  left: 21px;
}

.instruments__range-button {
  @include button-style-clear;
  @include sizes (14px, 14px);
  position: absolute;
  bottom: 19px;
  right: 46px;
  border-radius: 14px;
  border: 2px solid $color-pink;
  background-color: $color-white;
}

.post-yours__button {
  @include button-style-clear;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 3px solid $color-pink;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  padding: 16px 50px;
  width: 100%;

  &--submit {
    color: $color-pink;
  }

  &--cancel {
    color: rgba(40, 54, 69, 0.1);
    border-color: rgba(40, 54, 69, 0.1);
  }
}
