.reviews {
  position: relative;
  padding-top: 42px;
  padding-bottom: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 94px;
    padding-bottom: 0;
    margin-bottom: -15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 193px;
  }
}

.reviews::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    content: url("../../img/quotes.svg");
  }
}

.reviews__list {
  @include list-style-clear;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  column-gap: 20px;
}

.reviews__item {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.reviews__author {
  color: $color-black;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-info {
  @media (max-width: $mobile-only) {
    display: none;
  }

  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  margin: 0;

  @include padding-lr(5px, 5px);

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    @include padding-lr (100px, 100px);
  }
}

.reviews__slider-buttons {
  padding-left: 16px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__slider-arrows {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
