.slider {
  position: relative;
}

.slider__buttons-list {
  @include list-style-clear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 14px;
}

.slider__buttons-item {
  margin-right: 19px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.slider__button {
  @include button-style-clear;
  @include sizes (6px, 6px);
  border-radius: 50%;
  border: none;
  background-color: rgba(40, 54, 69, 0.3);
  display: flex;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__button--current {
  @include sizes (6px, 6px);
  border-radius: 50%;
  background-color: $color-white;
  border: 3px solid $color-major;
  box-sizing: content-box;

  &:hover {
    background-color: $color-white;
  }

  &:active {
    background-color: $color-white;
  }
}

.slider__arrow {
  @include button-style-clear;
  position: absolute;
}

.slider__arrow--left {
  top: 20px;
  left: 0;
}

.slider__arrow--right {
  top: 20px;
  right: 0;
}

.slider__arrow-icon {
  fill: $color-major;
  opacity: 0.3;
}

.slider__arrow:hover .slider__arrow-icon {
  fill: $color-major;
  opacity: 0.6;
}

.slider__arrow:active .slider__arrow-icon {
  fill: $color-major;
  opacity: 0.1;
}
