.table {
  width: 828px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.table__header {
  background-color: $color-major;
  color: $color-white;
}

.table__header__cell {
  border-radius: 1px 0 0 0;
  border: 2px solid #e5e5e5;
  border-top-color: $color-major;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  padding: 10px 50px 24px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    @include padding-lr (25px, 25px);
    padding-bottom: 5px;
  }
}

.table__header__cell--hidden {
  visibility: hidden;
}

.table__header__cell--ribboned {
  position: relative;

  &::before {
    position: absolute;
    top: -1px;
    left: -1px;
    content: url("../../img/hit-ribbon.svg");

    @media (min-width: $tablet-width) {
      content: url("../../img/hit-ribbon-tablet.svg");
      top: -2px;
      left: 0;
    }
  }

  &::after {
    position: absolute;
    top: 13px;
    left: 13px;
    content: "хит";
    color: $color-white;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      top: 9px;
      left: 9px;
    }
  }
}

.table__cell__text-only {
  color: $color-major;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;

  @media (max-width: $mobile-only) {
    display: none;
  }
}

.table__header__title {
  font-size: 16px;
  font-weight: 700;
}

.table__header__price {
  font-size: 18px;
  font-weight: 300;
}

.table__cell {
  border: 2px solid #e5e5e5;
  background-color: $color-white;
  color: $color-major;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;

  @include padding-tb (14px, 18px);

  @media (min-width: $tablet-width) {
    @include padding-tb (8px, 8px);
  }
}

.table__cell__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.table__cell__picture {
  position: absolute;
  right: 19px;

  &--yes {
    right: 17px;
  }

  @media (min-width: $tablet-width) {
    right: 40%;
    transform: translateY(-50%);
  }
}
