.tariffs {
  background: url("../../img/grey-background-mobile.svg") no-repeat center bottom;
  background-size: 100% 505px;

  @include padding-tb (99px, 27px);

  @media (min-width: $tablet-width) {
    background: url("../../img/grey-background-tablet.svg") no-repeat center bottom;
    background-size: 100% 420px;
    padding-top: 110px;
    padding-bottom: 0;
  }
}

.tariffs__table-container {
  position: relative;
  width: 100%;
  max-width: 920px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 15px;
  min-height: 308px;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Скрываем scrollbar для IE и Edge */
  scrollbar-width: none;  /* Скрываем scrollbar для Firefox */

  &::-webkit-scrollbar { /* Скрываем scrollbar для Chrome, Safari и Opera */
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include padding-lr (20px, 20px);
  }
}

.tariffs__table {
  position: absolute;
  left: -56%;
  transform: translateX(-11%);

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
  }
}

.tariffs__slider-buttons {
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
