.tariffs {
  background: url("../../img/grey-background.svg") no-repeat center top -42px;
  background-size: cover;

  @include padding-tb (99px, 27px);

  @media (min-width: $tablet-width) {
    background-position: center top -70px;
    padding-top: 124px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-position: center top -160px;
    padding-top: 164px;
    padding-bottom: 75px;
  }
}

.tariffs__table-container {
  position: relative;
  width: 100%;
  max-width: 920px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 15px;
  min-height: 308px;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Скрываем scrollbar для IE и Edge */
  scrollbar-width: none;  /* Скрываем scrollbar для Firefox */

  &::-webkit-scrollbar { /* Скрываем scrollbar для Chrome, Safari и Opera */
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include padding-lr (20px, 20px);
    min-height: 288px;
  }

  @media (min-width: $desktop-width) {
    @include padding-lr (0, 0);
  }
}

.tariffs__table {
  position: absolute;
  left: -56%;
  transform: translateX(-11%);

  @media (min-width: 470px) {
    transform: translateX(10%);
  }

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
  }
}

.tariffs__slider-buttons {
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
