@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding-left: 22px;
  padding-right: 22px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 960px;
    margin: auto;
  }
}

.button-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 660px) {
  .button-container {
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .button-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.button {
  border-radius: 1px;
  border: 2px solid #2aab6d;
  background: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding: 15px;
  max-width: 296px;
}
.button:hover {
  border: 2px solid #1c9b5e;
  background-color: #1c9b5e;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  border: 2px solid #e5e5e5;
  background: #e5e5e5;
}
.button:disabled:active {
  color: #ffffff;
}

.slider {
  position: relative;
}

.slider__buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 14px;
}

.slider__buttons-item {
  margin-right: 19px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.slider__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background-color: rgba(40, 54, 69, 0.3);
  display: flex;
}
.slider__button:hover {
  background-color: rgba(40, 54, 69, 0.6);
}
.slider__button:active {
  background-color: rgba(40, 54, 69, 0.1);
}

.slider__button--current {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid #283645;
  box-sizing: content-box;
}
.slider__button--current:hover {
  background-color: #ffffff;
}
.slider__button--current:active {
  background-color: #ffffff;
}

.slider__arrow {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
}

.slider__arrow--left {
  top: 20px;
  left: 0;
}

.slider__arrow--right {
  top: 20px;
  right: 0;
}

.slider__arrow-icon {
  fill: #283645;
  opacity: 0.3;
}

.slider__arrow:hover .slider__arrow-icon {
  fill: #283645;
  opacity: 0.6;
}

.slider__arrow:active .slider__arrow-icon {
  fill: #283645;
  opacity: 0.1;
}

.table {
  width: 828px;
  border-collapse: collapse;
}
@media (min-width: 660px) {
  .table {
    width: 100%;
  }
}

.table__header {
  background-color: #283645;
  color: #ffffff;
}

.table__header__cell {
  border-radius: 1px 0 0 0;
  border: 2px solid #e5e5e5;
  border-top-color: #283645;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  padding: 8px 15px 20px;
  box-sizing: border-box;
}

.table__header__cell--hidden {
  visibility: hidden;
}

.table__header__cell--ribboned {
  position: relative;
}
.table__header__cell--ribboned::before {
  position: absolute;
  top: -1px;
  left: -1px;
  content: url("../../img/hit-ribbon.svg");
}
.table__header__cell--ribboned::after {
  position: absolute;
  top: 13px;
  left: 13px;
  content: "хит";
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  transform: rotate(-45deg);
}

.table__cell__text-only {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
}
@media (max-width: 659px) {
  .table__cell__text-only {
    display: none;
  }
}

.table__header__title {
  font-size: 16px;
  font-weight: 700;
}

.table__header__price {
  font-size: 18px;
  font-weight: 300;
}

.table__cell {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  color: #283645;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media (min-width: 660px) {
  .table__cell {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (min-width: 660px) {
  .table__cell__text {
    display: none;
  }
}

.table__cell__picture {
  position: absolute;
  right: 19px;
}
.table__cell__picture--yes {
  right: 17px;
}
@media (min-width: 660px) {
  .table__cell__picture {
    right: 50%;
    transform: translateY(-50%);
  }
}

.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  fill: #ffffff;
}

.logo__pink {
  transform: translate(-70px, -2px);
}
@media (min-width: 660px) {
  .logo__pink {
    transform: none;
  }
}

.logo__glasses--tablet {
  display: none;
}
@media (min-width: 660px) {
  .logo__glasses--tablet {
    display: block;
  }
}
@media (min-width: 1024px) {
  .logo__glasses--tablet {
    display: none;
  }
}

.logo__glasses--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .logo__glasses--desktop {
    display: block;
  }
}

.logo__sparkles {
  display: none;
}
@media (min-width: 1024px) {
  .logo__sparkles {
    display: block;
  }
}

.logo__link--glasses {
  margin-right: 15px;
}

.page-header {
  background: #283645 url("../../img/back-mobile.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
@media (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../../img/back-mobile@2x.png");
    background-size: 640px auto;
  }
}
@media (min-width: 660px) {
  .page-header {
    background: #283645 url("../../img/back-tablet.png") no-repeat center 0;
    background-size: cover;
  }
}
@media (min-width: 660px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../../img/back-tablet@2x.png");
    background-size: 1320px auto;
  }
}
@media (min-width: 1024px) {
  .page-header {
    background: #283645 url("../../img/back-desktop.png") no-repeat center 0;
    background-size: cover;
  }
}
@media (min-width: 1024px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../../img/back-desktop@2x.png");
  }
}

.page-header__main {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
}
@media (min-width: 1024px) {
  .page-header__main {
    padding-bottom: 40px;
  }
}

.page-header__logo {
  display: block;
}
.page-header__logo:hover .logo {
  fill: #d22856;
}
.page-header__logo:active .logo {
  fill: rgba(255, 255, 255, 0.3);
}
@media (max-width: 659px) {
  .page-header__logo:focus {
    outline: none;
  }
  .page-header__logo:focus .logo__pink {
    outline: 2px solid #ffffff;
  }
}

.page-header__main--nav-opened {
  background-color: #283645;
}

.page-header__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 960px;
  margin: auto;
}

.page-header__main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__additional {
  padding-top: 30px;
}
.page-header__additional--index {
  background: url("../../img/hand-phone-mobile.png") no-repeat top 130px left;
  background-size: 307px 273px;
  height: 664px;
}
@media (min-width: 489px) {
  .page-header__additional--index {
    background-position: top 145px left;
  }
}
@media (min-resolution: 2dppx) {
  .page-header__additional--index {
    background: url("../../img/hand-phone-mobile@2x.png") no-repeat top 130px left;
    background-size: 307px 273px;
  }
}
.page-header__additional--form {
  padding-bottom: 51px;
}
.page-header__additional--catalog {
  padding-bottom: 50px;
}

@media (min-width: 660px) {
  .page-header__additional {
    padding-top: 74px;
  }
  .page-header__additional--index {
    background: url("../../img/hand-phone-tablet.png") no-repeat bottom right;
    background-size: 660px 545px;
    height: auto;
  }
}
@media (min-width: 660px) and (min-resolution: 2dppx) {
  .page-header__additional--index {
    background: url("../../img/hand-phone-tablet@2x.png") no-repeat bottom right;
    background-size: 660px 545px;
  }
}
.page-header__container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .page-header__additional {
    padding-top: 114px;
  }
  .page-header__additional--index {
    background: url("../../img/hand-phone-desktop.png") no-repeat bottom right;
    background-size: 1050px 645px;
    height: auto;
  }
}
@media (min-width: 1024px) and (min-resolution: 2dppx) {
  .page-header__additional--index {
    background: url("../../img/hand-phone-desktop@2x.png") no-repeat bottom right;
    background-size: 1050px 645px;
  }
}
@media (min-width: 1024px) {
  .page-header__additional--form {
    padding-bottom: 75px;
  }
}
@media (min-width: 1024px) {
  .page-header__container {
    padding-left: 80px;
  }
}
.page-header__title {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 660px) {
  .page-header__title {
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 120%;
  }
}
@media (min-width: 1024px) {
  .page-header__title {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: normal;
  }
}

.page-header__title--index {
  padding-left: 40px;
  padding-right: 40px;
}
@media (min-width: 660px) {
  .page-header__title--index {
    padding-left: 50px;
    padding-right: 50px;
    width: 245px;
  }
}

@media (min-width: 660px) {
  .page-header__title--form {
    padding-left: 70px;
    padding-right: 70px;
    width: auto;
    font-size: 50px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 24px;
  }
}

.page-header__title--catalog {
  padding-bottom: 80px;
}
@media (min-width: 660px) {
  .page-header__title--catalog {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 143px;
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .page-header__title--catalog {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 74px;
    padding-bottom: 104px;
  }
}

@media (min-width: 1440px) {
  .page-header__additional--index {
    background: url("../../img/hand-phone-desktop.png") no-repeat bottom right 20%;
    background-size: 1050px 645px;
    height: auto;
  }
}
.navigation {
  width: auto;
}
@media (min-width: 1024px) {
  .navigation {
    flex-grow: 1;
  }
}

.navigation__toggle {
  position: relative;
  background-color: transparent;
  width: 50px;
  height: 24px;
  border: none;
  cursor: pointer;
}
@media (min-width: 660px) {
  .navigation__toggle {
    right: 0;
  }
}
@media (min-width: 1024px) {
  .navigation__toggle {
    display: none;
  }
}

.navigation--closed .navigation__toggle::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ffffff;
  content: "";
  box-shadow: 0 10px 0 #ffffff, 0 20px 0 #ffffff;
}

.navigation--closed .navigation__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 #d22856, 0 20px 0 #d22856;
}

.navigation--closed .navigation__toggle:active::before {
  opacity: 0.3;
}

.navigation--opened .navigation__toggle::before {
  position: absolute;
  top: 12px;
  right: 0;
  width: 23px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  transform: rotate(45deg);
}

.navigation--opened .navigation__toggle::after {
  position: absolute;
  top: 12px;
  right: 0;
  width: 23px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  transform: rotate(-45deg);
}

.navigation--opened .navigation__toggle:hover::before,
.navigation--opened .navigation__toggle:hover::after {
  background-color: #d22856;
}

.navigation--opened .navigation__toggle:active::before,
.navigation--opened .navigation__toggle:active::after {
  opacity: 0.3;
}

@media (max-width: 1023px) {
  .navigation--closed .navigation__wrapper {
    display: none;
  }

  .navigation--opened .navigation__wrapper {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
@media (max-width: 1023px) and (min-width: 660px) {
  .navigation--opened .navigation__wrapper {
    top: 83px;
  }
}
@media (max-width: 1023px) {
  .navigation--nojs .navigation__toggle {
    display: none;
  }
}
@media (max-width: 1023px) {
  .navigation--nojs .navigation__wrapper {
    display: block;
    position: relative;
    width: 100vw;
    top: 15px;
    left: -20px;
    right: 0;
  }
}
@media (max-width: 1023px) and (min-width: 660px) {
  .navigation--nojs .navigation__wrapper {
    top: 29px;
    left: -35px;
  }
}
.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1024px) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 40px;
  }
}

.navigation__item {
  text-align: center;
  background-color: #283645;
  box-shadow: 0 1px 0 0 #000000, 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
}
@media (min-width: 1024px) {
  .navigation__item {
    background-color: transparent;
    box-shadow: none;
  }
}

.navigation__link {
  display: block;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 15px;
}
@media (min-width: 1024px) {
  .navigation__link {
    padding-top: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.navigation__link--current {
  position: relative;
}
@media (min-width: 1024px) {
  .navigation__link--current::after {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #ffffff;
    content: "";
  }
}

.navigation__link[href]:hover {
  color: #d22856;
}

.navigation__link[href]:active {
  opacity: 0.3;
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 660px) {
  .social__list {
    max-width: 205px;
  }
}
@media (min-width: 1024px) {
  .social__list {
    max-width: 405px;
  }
}

.social__item {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 10px;
}

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  border: 3px solid rgba(40, 54, 69, 0.1);
  background-color: #ffffff;
}
.social__link:hover {
  border: 3px solid #283645;
}
.social__link:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}
.social__link:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  margin: auto;
  fill: #d22856;
}

.page-main {
  flex-grow: 1;
}

.intro {
  background-color: #1d2631;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 38px;
}
@media (min-width: 660px) {
  .intro {
    background-color: transparent;
    width: 340px;
    padding-top: 0;
    padding-bottom: 96px;
  }
}

.intro__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 29px;
  border: 3px solid #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 16px 14px;
  margin-bottom: 32px;
}
.intro__link:hover {
  background-color: #ffffff;
  color: #d22856;
}
.intro__link:active {
  color: #eea5b9;
}

.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro__item {
  margin-bottom: 10px;
}

.intro__item:not(:nth-of-type(3n)) {
  margin-right: 35px;
}

.intro__information {
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 24px;
}
@media (min-width: 660px) {
  .intro__information {
    font-size: 18px;
    line-height: 24px;
  }
}

.advantages {
  padding-top: 46px;
  background: url("../../img/grey-background-mobile.svg") no-repeat center bottom;
  background-size: 100% 894px;
}
@media (min-width: 660px) {
  .advantages {
    background: url("../../img/grey-background-tablet.svg") no-repeat center bottom -188px;
    background-size: 1200px 695px;
  }
}
@media (min-width: 1024px) {
  .advantages {
    padding-bottom: 59px;
    background-size: 1200px 715px;
    background-position: center bottom -82px;
  }
}

.advantages__slogans-container {
  margin-bottom: 123px;
}
@media (min-width: 660px) {
  .advantages__slogans-container {
    margin-bottom: 47px;
  }
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 46px;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}
@media (min-width: 660px) {
  .advantages__slogan {
    color: #283645;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
  }
}

@media (min-width: 660px) {
  .advantages__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .advantages__slogan:last-of-type {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1024px) {
  .advantages__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 59px;
    align-items: start;
  }

  .advantages__slogan:last-of-type {
    padding-left: 190px;
    padding-right: 190px;
  }
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 660px) {
  .advantages__list {
    grid-column: -1/-2;
    align-self: self-end;
  }
}
@media (min-width: 1024px) {
  .advantages__list {
    grid-column: 1/span 3;
    grid-row: 2/3;
    align-self: self-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 68px;
  }
}

.advantages__item {
  margin-bottom: 43px;
}
@media (min-width: 660px) {
  .advantages__item {
    margin-bottom: 35px;
  }
}
@media (min-width: 1024px) {
  .advantages__item {
    margin-bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 660px) {
  .advantages__title {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .advantages__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.advantages__description {
  margin: 0;
  margin-bottom: 43px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 660px) {
  .advantages__description {
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .advantages__description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.advantages__image-container {
  overflow: hidden;
}
@media (min-width: 660px) {
  .advantages__image-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 1024px) {
  .advantages__image-container {
    grid-column: 1/span 3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 68px;
  }
}

.advantages__image-wrapper {
  position: relative;
}
@media (min-width: 1024px) {
  .advantages__image-wrapper::before {
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    width: 300px;
    height: 17px;
    border-radius: 300px;
    opacity: 0.3;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49%, rgba(0, 0, 0, 0) 93.23%);
    filter: blur(2px);
    content: "";
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: -43px;
}
@media (min-width: 660px) {
  .advantages__image {
    width: 268px;
    height: 547px;
    margin-top: 0;
    margin-bottom: -64px;
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .advantages__image {
    width: 186px;
    height: 382px;
    margin: auto;
    margin-bottom: -64px;
  }
}

.advantages__image-mood--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .advantages__image-mood--desktop {
    display: block;
  }
}

.advantages__image-world--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .advantages__image-world--desktop {
    display: block;
  }
}

@media (max-width: 659px) {
  .extra-info {
    display: none;
  }
}
@media (min-width: 1024px) {
  .extra-info {
    background-color: #f2f2f2;
  }
}

.extra-info__wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
  max-width: 960px;
}
@media (min-width: 1024px) {
  .extra-info__wrapper {
    padding-top: 115px;
    padding-bottom: 120px;
  }
}

.extra-info__wrapper::before {
  position: absolute;
  bottom: 0;
  left: 20px;
  content: url("../../img/timer-tablet.svg");
}
@media (min-width: 1024px) {
  .extra-info__wrapper::before {
    top: 17px;
    left: 131px;
    content: url("../../img/timer-desktop.svg");
  }
}

.extra-info__container {
  margin-left: 310px;
}
@media (min-width: 1024px) {
  .extra-info__container {
    margin-left: 500px;
  }
}

.extra-info__title {
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align-last: left;
}
@media (min-width: 1024px) {
  .extra-info__title {
    line-height: 30px;
    margin-bottom: 37px;
  }
}

.extra-info__text {
  margin: 0;
  margin-bottom: 25px;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align-last: left;
}
@media (min-width: 1024px) {
  .extra-info__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 47px;
  }
}

.extra-info__link {
  display: block;
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.extra-info__link:hover {
  color: #283645;
}
.extra-info__link:active {
  color: rgba(40, 54, 69, 0.3);
}
@media (min-width: 1024px) {
  .extra-info__link {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}
@media (min-width: 660px) {
  .reviews {
    padding-top: 109px;
  }
}
@media (min-width: 1024px) {
  .reviews {
    padding-top: 193px;
  }
}

@media (min-width: 1024px) {
  .reviews::before {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    content: url("../../img/quotes.svg");
  }
}

.reviews__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  column-gap: 20px;
}

.reviews__item {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .reviews__item {
    margin-bottom: 49px;
  }
}

.reviews__author {
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 31px;
}
@media (min-width: 660px) {
  .reviews__author {
    order: 2;
    margin-bottom: 0;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .reviews__author {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 659px) {
  .reviews__author-info {
    display: none;
  }
}
@media (min-width: 1024px) {
  .reviews__author-info {
    font-size: 18px;
  }
}

.reviews__text {
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 660px) {
  .reviews__text {
    margin-bottom: 51px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .reviews__text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1024px) {
  .reviews__slider-buttons {
    display: none;
  }
}

.reviews__slider-arrows {
  display: none;
}
@media (min-width: 1024px) {
  .reviews__slider-arrows {
    display: block;
  }
}

.tariffs {
  background: url("../../img/grey-background.svg") no-repeat center bottom;
  background-size: 320px 506px;
  padding-top: 130px;
  padding-bottom: 49px;
}

.tariffs__table-container {
  position: relative;
  width: 100%;
  max-width: 920px;
  box-sizing: border-box;
  margin: auto;
  min-height: 308px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* Скрываем scrollbar для IE и Edge */
  scrollbar-width: none;
  /* Скрываем scrollbar для Firefox */
}
.tariffs__table-container::-webkit-scrollbar {
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  display: none;
}
@media (min-width: 660px) {
  .tariffs__table-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tariffs__table {
  position: absolute;
  left: -50%;
  transform: translateX(-11%);
  margin-bottom: 45px;
}
@media (min-width: 660px) {
  .tariffs__table {
    position: static;
    transform: none;
  }
}

@media (min-width: 660px) {
  .tariffs__slider-buttons {
    display: none;
  }
}

.contacts {
  padding-top: 47px;
}
@media (min-width: 660px) {
  .contacts {
    padding-top: 55px;
  }
}
@media (min-width: 1024px) {
  .contacts {
    padding-top: 74px;
  }
}

.contacts__title {
  margin: auto;
  margin-bottom: 45px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
@media (min-width: 660px) {
  .contacts__title {
    color: #283645;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 51px;
    width: 462px;
  }
}
@media (min-width: 1024px) {
  .contacts__title {
    font-size: 50px;
    line-height: normal;
    margin-bottom: 61px;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__item {
  margin-bottom: 31px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 660px) {
  .contacts__item {
    margin-bottom: 55px;
    margin-right: 38px;
    margin-left: 38px;
  }
}
@media (min-width: 1024px) {
  .contacts__item {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (min-width: 1024px) {
  .contacts__item--email {
    order: 3;
  }
}

.contacts__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 13px;
}

.contacts__link {
  display: block;
  color: #d22856;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
}
.contacts__link[href]:hover {
  color: #283645;
}
.contacts__link[href]:active {
  color: #6282a4;
}

.contacts__address {
  font-style: normal;
}

.contacts__map-container {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}
.contacts__map-container::before {
  position: absolute;
  top: -86px;
  content: url("../../img/triangle-white-footer.svg");
  z-index: 1;
}

.contacts__map {
  border: 0;
  min-width: 100%;
  min-height: auto;
}
@media (min-width: 660px) {
  .contacts__map {
    height: 374px;
  }
}
@media (min-width: 1024px) {
  .contacts__map {
    height: 502px;
  }
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .page-footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 660px) {
  .page-footer__container {
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-top: 1px;
  margin-bottom: 41px;
  margin-right: 20px;
  margin-left: 20px;
}
@media (min-width: 660px) {
  .page-footer__logo {
    margin-bottom: 0;
  }
}

.page-footer__logo-link:hover .page-footer__logo--pink {
  fill: #d22856;
}

.page-footer__logo-link:active {
  opacity: 0.3;
}

.page-footer__logo--pink {
  fill: #283645;
}

.page-footer__logo--glasses {
  fill: #d22856;
}

@media (max-width: 1023px) {
  .page-footer__logo--glasses.logo__glasses--tablet {
    display: block;
  }
}

.page-footer__social {
  margin-bottom: 41px;
  margin-right: 20px;
  margin-left: 20px;
}
@media (min-width: 660px) {
  .page-footer__social {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  margin-right: 20px;
  margin-left: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 660px) {
  .copyright {
    max-width: 130px;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 15px;
  font-weight: 400;
  line-height: 18px;
}

.copyright__icon {
  fill: #d22856;
}

.copyright__link:hover .copyright__icon {
  fill: #283645;
}

.copyright__link:active .copyright__icon {
  fill: #283645;
  opacity: 0.3;
}

.questionnaire {
  padding-top: 54px;
}
@media (min-width: 660px) {
  .questionnaire {
    padding-top: 100px;
  }
}

.questionnaire__title {
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .questionnaire__title {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1024px) {
  .questionnaire__title {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 84px;
  }
}

.questionnaire__additional {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 659px) {
  .questionnaire__additional {
    display: none;
  }
}

.questionnaire__note-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 660px) {
  .questionnaire__note-container {
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .questionnaire__note-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.questionnaire__note {
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 660px) {
  .questionnaire__note {
    text-align: right;
  }
}

.questionnaire__note-asterix {
  color: #d22856;
}

.questionnaire__note--extra {
  display: none;
}
@media (min-width: 1024px) {
  .questionnaire__note--extra {
    display: inline;
  }
}

.form__container {
  display: grid;
  max-width: 936px;
  margin: auto;
}
@media (min-width: 660px) {
  .form__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border: none;
}

.form__personal-info {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}
@media (min-width: 660px) {
  .form__personal-info {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .form__personal-info {
    padding-left: 0;
    padding-right: 0;
    grid-column: span 1;
  }
}

.form__personal-info__container {
  display: flex;
  flex-wrap: wrap;
}

.form__label {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 5px;
}
@media (min-width: 660px) {
  .form__label {
    margin-right: 20px;
    margin-left: 0;
    align-self: center;
  }
}

@media (min-width: 660px) {
  .form__label--contacts {
    grid-row: 2/3;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.form__input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 29px;
}
@media (min-width: 660px) {
  .form__input-group {
    flex-direction: row;
    align-items: center;
    margin-bottom: 55px;
  }
}

@media (min-width: 660px) {
  .form__input-group--contacts {
    display: grid;
    margin-bottom: 35px;
  }
}

.form__input {
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.form__input:hover {
  border-color: #283645;
}
.form__input:active {
  border-color: #d22856;
}
.form__input::placeholder {
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__input--contacts {
  width: 100%;
}
@media (min-width: 660px) {
  .form__input--contacts {
    margin-bottom: 15px;
  }
}

.form__input-container--phone {
  width: 100%;
}
@media (min-width: 660px) {
  .form__input-container--phone {
    position: relative;
  }
  .form__input-container--phone::before {
    width: 59px;
    height: 59px;
    position: absolute;
    background-color: #e5e5e5;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../../img/form/phone-icon.svg");
  }
}

.form__input-container--email {
  width: 100%;
}
@media (min-width: 660px) {
  .form__input-container--email {
    position: relative;
  }
  .form__input-container--email::before {
    width: 59px;
    height: 59px;
    position: absolute;
    background-color: #e5e5e5;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../../img/form/mail-icon.svg");
  }
}

.form__input--radio:hover + .form__radio,
.form__radio:hover {
  border-color: #283645;
}

.form__input--radio:active + .form__radio,
.form__radio:active {
  border-color: #d22856;
}

.form__input--radio:focus + .form__radio,
.form__radio:focus {
  border-color: #283645;
}

.form__input--radio:checked + .form__radio::before {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 11px;
  left: 11px;
  border-radius: 50%;
  background-color: #d22856;
  content: "";
}

.form__input--checkbox:hover + .form__checkbox,
.form__checkbox:hover {
  border-color: #283645;
}

.form__input--checkbox:active + .form__checkbox,
.form__checkbox:active {
  border-color: #d22856;
}

.form__input--checkbox:focus + .form__checkbox,
.form__checkbox:focus {
  border-color: #283645;
}

.form__input--checkbox:checked + .form__checkbox::before {
  position: absolute;
  top: 5px;
  left: 8px;
  content: url("../../img/tick.svg");
}

.form__achievements {
  background-color: #f2f2f2;
  padding-top: 42px;
}
@media (min-width: 660px) {
  .form__achievements {
    grid-column: span 2;
    background-color: #ffffff;
    padding-top: 0;
    border-radius: 1px;
    border: 2px solid #e5e5e5;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 51px;
  }
}
@media (min-width: 1024px) {
  .form__achievements {
    margin-left: 0;
    margin-right: 0;
  }
}

.form__legend {
  padding-left: 40px;
  padding-right: 40px;
  color: #d22856;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 44px;
  transform: translateY(47px);
}
@media (min-width: 660px) {
  .form__legend {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 35px;
    transform: none;
  }
}

@media (max-width: 659px) {
  .form__legend--contacts {
    display: none;
  }
}

@media (min-width: 660px) {
  .form__legend--emotions {
    margin-bottom: 25px;
  }
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.form__list--checkbox {
  display: grid;
}
@media (min-width: 1024px) {
  .form__list--checkbox {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form__item {
  position: relative;
  margin-bottom: 47px;
}

.form__item:last-of-type {
  margin-bottom: 44px;
}

@media (min-width: 1024px) {
  .form__item--sunburn {
    grid-row: 2/3;
  }
}

@media (min-width: 1024px) {
  .form__item--gifts {
    grid-row: 2/3;
  }
}

.form__checkbox {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 2px;
  top: -3px;
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .form__checkbox {
    left: 40px;
  }
}

.form__label--checkbox {
  padding-left: 60px;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .form__label--checkbox {
    padding-left: 100px;
  }
}

.form__contacts {
  padding-top: 42px;
}
@media (min-width: 660px) {
  .form__contacts {
    padding-left: 40px;
    padding-right: 40px;
    grid-row: 3/4;
    grid-column: span 2;
    border-radius: 1px;
    border: 2px solid #e5e5e5;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 51px;
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .form__contacts {
    grid-row: 2/3;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .form__contacts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
  }
}

.form__app {
  background-color: #f2f2f2;
  padding-top: 42px;
}
@media (min-width: 660px) {
  .form__app {
    grid-row: 2/3;
    grid-column: span 2;
    background-color: #ffffff;
    padding-top: 0;
    border-radius: 1px;
    border: 2px solid #e5e5e5;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 51px;
  }
}
@media (min-width: 1024px) {
  .form__app {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 0;
    margin-right: 0;
    transform: translateY(-10px);
  }
}

.form__item-radio {
  margin-bottom: 38px;
}

.form__item-radio:last-of-type {
  margin-bottom: 42px;
}

.form__label--radio {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  padding-left: 50px;
}
@media (min-width: 660px) {
  .form__label--radio {
    padding-left: 100px;
  }
}

.form__radio {
  width: 37px;
  height: 37px;
  position: absolute;
  left: 2px;
  top: -3px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
@media (min-width: 660px) {
  .form__radio {
    left: 40px;
  }
}

.form__emotions {
  margin-bottom: 22px;
}
@media (min-width: 660px) {
  .form__emotions {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 23px;
    border-radius: 1px;
    border: 2px solid #e5e5e5;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 70px;
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .form__emotions {
    margin-left: 0;
    margin-right: 0;
  }
}

.form__input-textarea {
  transform: translateY(22px);
  min-height: 197px;
  width: 100%;
  margin-bottom: 52px;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.form__input-textarea::placeholder {
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .form__input-textarea {
    min-height: 189px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 46px;
}
@media (min-width: 660px) {
  .form__button {
    margin-bottom: 5px;
  }
}

.catalog {
  padding-top: 54px;
  margin-bottom: 49px;
}
@media (min-width: 660px) {
  .catalog {
    padding-top: 100px;
    margin-bottom: 73px;
  }
}
@media (min-width: 1024px) {
  .catalog {
    margin-bottom: 67px;
  }
}

.catalog__title {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .catalog__title {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    margin-bottom: 85px;
  }
}
@media (min-width: 1024px) {
  .catalog__title {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 97px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}
@media (min-width: 660px) {
  .catalog__list {
    gap: 50px;
  }
}

.catalog__link--pic-of-the-day {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.catalog__link--pic-of-the-day::before {
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  background-color: #d22856;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  content: "ПАНОРАМА ДНЯ";
}
@media (min-width: 660px) {
  .catalog__link--pic-of-the-day::before {
    top: 57px;
  }
}
@media (min-width: 1024px) {
  .catalog__link--pic-of-the-day::before {
    top: 54px;
    right: 130px;
  }
}

.catalog__picture {
  display: block;
  width: 100%;
  height: auto;
}

.catalog__picture--panorama {
  max-width: 1200px;
  margin: auto;
}

.catalog__description-container {
  background-color: #f2f2f2;
  padding: 26px 10px 25px 17px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 31px auto;
  box-sizing: border-box;
}
@media (min-width: 660px) {
  .catalog__description-container {
    grid-template-columns: auto 31px;
    padding: 14px 30px;
    min-height: 155px;
  }
}

@media (min-width: 660px) {
  .catalog__description-container--pic-of-the-day {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: auto auto 31px;
    min-height: auto;
  }
}

.catalog__author {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 24px;
  grid-column: span 2;
}

@media (min-width: 660px) {
  .catalog__author--pic-of-the-day {
    grid-column: 1/2;
  }
}

.catalog__time {
  margin-left: 3px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  grid-column: span 2;
}

@media (min-width: 660px) {
  .catalog__text--pic-of-the-day {
    grid-column: span 3;
    margin-bottom: 0;
  }
}

.catalog__button-like {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: none;
  background: url("../../img/heart.svg") no-repeat center center;
  background-size: 13px 12px;
  align-self: center;
}
@media (min-width: 660px) {
  .catalog__button-like {
    grid-column: -1/-2;
    align-self: self-start;
    margin-top: 2px;
  }
}

@media (min-width: 660px) {
  .catalog__button-like--pic-of-the-day {
    grid-row: 1/2;
    grid-column: -1/-2;
    align-self: self-start;
    margin-top: 2px;
  }
}

.catalog__likes {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .catalog__likes {
    grid-row: -1/-2;
  }
}

@media (min-width: 660px) {
  .catalog__likes--pic-of-the-day {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
    margin-right: 11px;
  }
}

.catalog__inner-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
  margin: auto;
}

.catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
  margin: auto;
  display: grid;
  gap: 20px;
}
@media (min-width: 660px) {
  .catalog__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .catalog__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post-yours__title {
  padding-left: 35px;
  padding-right: 35px;
  margin: 0;
  margin-bottom: 52px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .post-yours__title {
    font-size: 18px;
    margin-bottom: 78px;
  }
}
@media (min-width: 1024px) {
  .post-yours__title {
    margin-bottom: 75px;
  }
}

.post-yours__form {
  padding-top: 20px;
  padding-bottom: 31px;
  background-color: #f2f2f2;
  display: grid;
  box-sizing: border-box;
}
@media (min-width: 660px) {
  .post-yours__form {
    padding-top: 57px;
    padding-bottom: 54px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(2, min-content);
    row-gap: 24px;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .post-yours__form {
    padding-top: 57px;
    padding-bottom: 57px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
  }
}

.post-yours__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
  margin: auto;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .post-yours__wrapper {
    padding-left: 80px;
    padding-right: 60px;
  }
}

@media (min-width: 660px) {
  .post-yours__picture-container {
    grid-row: 1/span 4;
    grid-column: 1/2;
  }
}
@media (min-width: 1024px) {
  .post-yours__picture-container {
    margin-right: 56px;
  }
}

.post-yours__picture {
  display: block;
  object-fit: cover;
  margin: auto;
  margin-bottom: 42px;
}
@media (min-width: 660px) {
  .post-yours__picture {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }
}

.post-yours__instruments {
  margin: 0;
  padding: 0;
  border: none;
}
@media (min-width: 660px) {
  .post-yours__instruments {
    grid-row: 1/span 2;
  }
}
@media (min-width: 1024px) {
  .post-yours__instruments {
    grid-column: 2/span 2;
  }
}

.instruments__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
  position: relative;
}
@media (min-width: 660px) {
  .instruments__list {
    flex-direction: column;
    align-items: start;
    padding-bottom: 0;
  }
}

.instruments__item {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 10px;
}
@media (min-width: 660px) {
  .instruments__item {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .instruments__item:last-of-type .instruments__range-container::before {
    display: none;
  }
}

.instruments__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border: none;
}
@media (min-width: 660px) {
  .instruments__button {
    transform: translateY(10px);
  }
}

.instruments__icon {
  fill: #283645;
  opacity: 0.3;
}
@media (min-width: 660px) {
  .instruments__icon {
    fill: #d22856;
    opacity: 1;
    transform: scale(0.5);
  }
}
@media (min-width: 1024px) {
  .instruments__icon {
    transform: none;
  }
}

.instruments__range-container {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}
.instruments__range-container::before {
  position: absolute;
  bottom: -8px;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: rgba(40, 54, 69, 0.1);
  content: "";
}
@media (min-width: 660px) {
  .instruments__range-container::before {
    left: 0;
    right: 20px;
    bottom: 0;
  }
}

@media (max-width: 659px) {
  .instruments__range-container {
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .instruments__button--current + .instruments__range-container {
    display: block;
    margin: auto;
  }

  .instruments__icon:hover {
    opacity: 0.5;
  }

  .instruments__button--current .instruments__icon {
    fill: #d22856;
    opacity: 1;
  }
}
.instruments__range-input {
  width: 240px;
  height: 2px;
  padding-left: 20px;
  padding-right: 20px;
  --webkit-appearance: none;
  --moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
  margin: 0;
  box-sizing: border-box;
}
.instruments__range-input:focus {
  outline: none;
}
.instruments__range-input:focus::-webkit-slider-runnable-track {
  outline: 2px solid #000000;
}
.instruments__range-input:focus::-moz-range-track {
  outline: 2px solid #000000;
}
.instruments__range-input::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #283645;
  position: absolute;
  bottom: 24px;
  left: 21px;
  right: 21px;
}
@media (min-width: 660px) {
  .instruments__range-input::-webkit-slider-runnable-track {
    top: -25px;
    left: 65px;
    right: 40px;
    transform: translateY(10px);
  }
}
@media (min-width: 1024px) {
  .instruments__range-input::-webkit-slider-runnable-track {
    width: 288px;
  }
}
.instruments__range-input::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;
  --webkit-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  transform: translateY(-50%);
}
.instruments__range-input::-webkit-slider-thumb:active {
  background-color: #d22856;
}
.instruments__range-input::-moz-range-track {
  height: 2px;
  background-color: #283645;
  position: absolute;
  bottom: 24px;
  left: 21px;
  right: 21px;
}
@media (min-width: 660px) {
  .instruments__range-input::-moz-range-track {
    top: -25px;
    left: 65px;
    right: 40px;
    transform: translateY(10px);
  }
}
@media (min-width: 1024px) {
  .instruments__range-input::-moz-range-track {
    width: 288px;
  }
}
.instruments__range-input::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transform: translateY(-50%);
}
.instruments__range-input::-moz-range-thumb:active {
  background-color: #d22856;
}

.post-yours__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 3px solid #d22856;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  padding: 16px 50px;
  width: 100%;
}
@media (min-width: 660px) {
  .post-yours__button {
    margin-bottom: 0;
  }
}
.post-yours__button--submit {
  color: #d22856;
}
.post-yours__button--submit:hover {
  background-color: #d22856;
  color: #ffffff;
}
.post-yours__button--submit:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 1024px) {
  .post-yours__button--submit {
    grid-row: -1/-2;
  }
}
.post-yours__button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
}
.post-yours__button--cancel:hover {
  border-color: rgba(40, 54, 69, 0.3);
  color: rgba(40, 54, 69, 0.3);
}
.post-yours__button--cancel:active {
  border: none;
  background-color: rgba(40, 54, 69, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 1024px) {
  .post-yours__button--cancel {
    grid-row: -1/-2;
    grid-column: -1/-2;
  }
}

.modal {
  display: none;
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: 44px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #283645;
  border-radius: 1px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
}
@media (min-width: 660px) {
  .modal {
    width: 460px;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) {
  .modal {
    width: 780px;
  }
}

.modal__success {
  display: none;
}

.modal__failure {
  display: none;
}

.modal--opened {
  display: block;
}

.modal__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.modal__title {
  margin: 0;
  margin-bottom: 37px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 660px) {
  .modal__title {
    padding-left: 85px;
    padding-right: 85px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__success .modal__text {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 41px;
}
@media (min-width: 660px) {
  .modal__success .modal__text {
    padding-left: 90px;
    padding-right: 90px;
  }
  .modal__success .modal__text br {
    display: none;
  }
}
@media (min-width: 1024px) {
  .modal__success .modal__text {
    padding-left: 205px;
    padding-right: 205px;
  }
}

.modal__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 660px) {
  .modal__text {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1024px) {
  .modal__text {
    padding-left: 225px;
    padding-right: 225px;
  }
}

.modal__button-container {
  padding-top: 51px;
  padding-bottom: 51px;
}

@media (min-width: 1024px) {
  .modal__failure .modal__button-container {
    margin-top: 65px;
    background-color: #f2f2f2;
  }
}

.modal__success .modal__button-container {
  background-color: #f2f2f2;
}

.modal__button {
  width: 276px;
  display: block;
  margin: auto;
}
@media (min-width: 660px) {
  .modal__button {
    width: 295px;
  }
}

@media (min-width: 1024px) {
  .modal__button--success {
    max-width: 456px;
    width: 456px;
  }
}
/*# sourceMappingURL=style.css.map */