@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.toggle {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 1px;
  border: 2px solid #2aab6d;
  background: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
  padding: 23px 45px;
}

.slider__buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 14px;
}

.slider__buttons-item {
  margin-right: 19px;
  margin-bottom: 5px;
}

.slider__button {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
  display: flex;
}

.slider__icon-bullet {
  fill: rgba(40, 54, 69, 0.3);
  margin: auto;
}

.slider__button--current .slider__icon-bullet {
  border-radius: 6px;
  border: 3px solid #283645;
  fill: #ffffff;
}

.table {
  width: 828px;
  border-collapse: collapse;
}

.table__header {
  background-color: #283645;
  color: #ffffff;
}

.table__header__cell {
  border-radius: 1px 0 0 0;
  border: 2px solid #e5e5e5;
  border-top-color: #283645;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  padding: 8px 15px 20px;
  box-sizing: border-box;
}

.table__header__cell--ribboned {
  position: relative;
}
.table__header__cell--ribboned::before {
  position: absolute;
  top: -1px;
  left: -1px;
  content: url("../../img/hit-ribbon.svg");
}
.table__header__cell--ribboned::after {
  position: absolute;
  top: 13px;
  left: 13px;
  content: "хит";
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  transform: rotate(-45deg);
}

.table__header__title {
  font-size: 16px;
  font-weight: 700;
}

.table__header__price {
  font-size: 18px;
  font-weight: 300;
}

.table__cell {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  color: #283645;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
}

.table__cell__picture {
  position: absolute;
  right: 19px;
}
.table__cell__picture--yes {
  right: 17px;
}

.page {
  height: 100%;
}

.page__body {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.page-header {
  background: #1d2631 url("../../img/header-bg.jpg") no-repeat;
  color: #ffffff;
}

.page-header__main {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.page-header__additional {
  padding-top: 30px;
  padding-left: 30px;
}
.page-header__additional--index {
  background: url("../../img/hand-phone.png") no-repeat left bottom;
  background-size: 307px 273px;
  height: 362px;
}
.page-header__additional--catalog {
  padding-bottom: 50px;
}

.page-header__title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__icon--glasses {
  margin-right: 15px;
}

.navigation {
  display: none;
  position: absolute;
  top: 66px;
  left: 0;
  min-width: 320px;
  background-color: #283645;
}
.navigation--opened {
  display: block;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 0 0 #000000, 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
}

.navigation__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 10px;
}

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  border: 3px solid rgba(40, 54, 69, 0.1);
  background-color: #ffffff;
}

.social__icon {
  margin: auto;
  fill: #d22856;
}

.page-main {
  flex-grow: 1;
}

.intro {
  background-color: #1d2631;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 38px;
}

.intro__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 29px;
  border: 3px solid #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 16px 14px;
  margin-bottom: 32px;
}

.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro__item:not(:nth-of-type(3n)) {
  margin-right: 35px;
}

.intro__information {
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 24px;
}

.advantages {
  padding-top: 46px;
  background: url("../../img/grey-background.svg") no-repeat center bottom;
  background-size: 320px 894px;
}

.advantages__slogans-container {
  margin-bottom: 123px;
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 46px;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  margin: 0;
  margin-bottom: 24px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advantages__description {
  margin: 0;
  margin-bottom: 43px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__image-container {
  overflow: hidden;
}

.advantages__image {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: -43px;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}

.reviews__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 280px);
  column-gap: 20px;
}

.reviews__item {
  margin-bottom: 44px;
}

.reviews__author {
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 31px;
}

.reviews__text {
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.tariffs {
  background: url("../../img/grey-background.svg") no-repeat center bottom;
  background-size: 320px 506px;
  padding-top: 130px;
  padding-bottom: 49px;
}

.tariffs__table-container {
  position: relative;
  width: 320px;
  min-height: 308px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* Скрываем scrollbar для IE и Edge */
  scrollbar-width: none;
  /* Скрываем scrollbar для Firefox */
}
.tariffs__table-container::-webkit-scrollbar {
  /* Скрываем scrollbar для Chrome, Safari и Opera */
  display: none;
}

.tariffs__table {
  position: absolute;
  left: -50%;
  transform: translateX(-11%);
  margin-bottom: 45px;
}

.contacts {
  padding-top: 47px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 45px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  margin-bottom: 31px;
}

.contacts__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 13px;
}

.contacts__link {
  display: block;
  color: #d22856;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
}

.contacts__address {
  font-style: normal;
  line-height: normal;
}

.contacts__map-container {
  position: relative;
  overflow: hidden;
}
.contacts__map-container::before {
  position: absolute;
  top: -86px;
  content: url("../../img/triangle-white-footer.svg");
  z-index: 1;
}

.contacts__map {
  position: relative;
  left: -23%;
  border: 0;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.page-footer__logo {
  margin-bottom: 41px;
}

.page-footer__social {
  margin-bottom: 53px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  margin-right: 15px;
  font-weight: 400;
  line-height: 18px;
}

.questionnaire {
  padding-top: 54px;
}

.questionnaire__title {
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.questionnaire__note {
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.questionnaire__note-asterix {
  color: #d22856;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border: none;
}

.form__personal-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form__label {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 5px;
}

.form__input {
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  width: 276px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 29px;
}
.form__input::placeholder {
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__achievements {
  background-color: #f2f2f2;
  padding-top: 42px;
}

.form__legend {
  padding-left: 40px;
  padding-right: 40px;
  color: #d22856;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 44px;
  transform: translateY(47px);
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__item {
  position: relative;
  margin-bottom: 47px;
}

.form__item:last-of-type {
  margin-bottom: 44px;
}

.form__checkbox {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 22px;
  top: -3px;
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form__label--checkbox {
  padding-left: 80px;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__contacts {
  padding-top: 42px;
}

.form__app {
  background-color: #f2f2f2;
  padding-top: 42px;
}

.form__item-radio {
  margin-bottom: 38px;
}

.form__item-radio:last-of-type {
  margin-bottom: 42px;
}

.form__label--radio {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  padding-left: 70px;
}

.form__radio {
  width: 37px;
  height: 37px;
  position: absolute;
  left: 22px;
  top: -3px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form__emotions {
  padding-top: 42px;
  margin-bottom: 22px;
}

.form__input-textarea {
  min-height: 197px;
}
.form__input-textarea::placeholder {
  color: #283645;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__button {
  margin-bottom: 46px;
}

.catalog {
  padding-top: 54px;
  margin-bottom: 49px;
}

.catalog__title {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  margin-bottom: 20px;
}

.catalog__picture {
  display: block;
  margin: auto;
}

.catalog__picture--panorama {
  position: relative;
}
.catalog__picture--panorama::before {
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  background-color: #d22856;
  content: "ПАНОРАМА ДНЯ";
  z-index: 1;
}
.catalog__picture--panorama::after {
  position: absolute;
  top: 0;
  height: 36px;
  content: "";
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  z-index: 1;
}

.catalog__description-container {
  background-color: #f2f2f2;
  padding: 26px 10px 25px 17px;
}

.catalog__author {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 24px;
}

.catalog__time {
  margin-left: 3px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__text {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.catalog__button-like {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: none;
  background: url("../../img/heart.svg") no-repeat center center;
  background-size: 13px 12px;
  transform: translateY(-5px);
}

.catalog__likes {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.post-yours__title {
  padding-left: 35px;
  padding-right: 35px;
  margin: 0;
  margin-bottom: 52px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.post-yours__form {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 31px;
}

.post-yours__picture {
  display: block;
  object-fit: cover;
  margin-bottom: 42px;
}

.post-yours__instruments {
  margin: 0;
  padding: 0;
  border: none;
}

.instruments__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
  position: relative;
}
.instruments__list::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(40, 54, 69, 0.1);
  content: "";
}

.instruments__item {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 10px;
}

.instruments__button {
  margin: 0;
  padding: 0;
  border: none;
}

.instruments__range-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.instruments__button--current + .instruments__range-container {
  display: block;
}

.instruments__range-scale {
  width: 240px;
  height: 2px;
  background-color: #283645;
  position: absolute;
  bottom: 24px;
  left: 21px;
}

.instruments__range-button {
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 19px;
  right: 46px;
  border-radius: 14px;
  border: 2px solid #d22856;
  background-color: #ffffff;
}

.post-yours__button {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 3px solid #d22856;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  padding: 16px 50px;
  width: 100%;
}
.post-yours__button--submit {
  color: #d22856;
}
.post-yours__button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
}
/*# sourceMappingURL=style.css.map */