// colors
$color-white: #ffffff;
$color-black: #000000;
$color-major: #283645;
$color-pink: #d22856;
$color-green: #2aab6d;
$color-grey: #f2f2f2;
$color-dark-grey: #e5e5e5;

// screen-width
$mobile-only: 659px;
$tablet-width: 660px;
$tablet-only: 1023px;
$desktop-width: 1024px;
