@mixin list-style-clear {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin button-style-clear {
  margin: 0;
  padding: 0;
}

@mixin padding-lr ($pl, $pr) {
  padding-left: $pl;
  padding-right: $pr;
}

@mixin padding-tb ($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin sizes ($width, $height) {
  width: $width;
  height: $height;
}
