.button {
  border-radius: 1px;
  border: 2px solid $color-green;
  background: $color-green;
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
  padding: 23px 35px;
}
