.button-container {
  @include padding-lr (20px, 20px);

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    @include padding-lr (0, 0);
  }
}

.button {
  border-radius: 1px;
  border: 2px solid $color-green;
  background: $color-green;
  color: $color-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding: 19px;
  max-width: 296px;

  &:hover {
    border: 2px solid #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    border: 2px solid $color-dark-grey;
    background: $color-dark-grey;

    &:active {
      color: $color-white;
    }
  }
}
